<section class="filters">
    <!-- 검색 -->
    <div class="filter_group filter_search">
        <label for="search" class="filter_title">검색</label>
        <input type="text" id="search" class="search-input" placeholder="포켓몬 이름을 입력해 주세요." />
    </div>
    <!-- 지방 -->
    <div class="filter_group filter_region">
        <span class="filter_title">지방</span>

        <div class="filter_options">
            <button class="filter_chip active" data-region="all">전체</button>
            <button class="filter_chip" data-region="kanto">관동지방</button>
            <button class="filter_chip" data-region="johto">성도지방</button>
            <button class="filter_chip" data-region="hoenn">호연지방</button>
            <button class="filter_chip" data-region="sinnoh">신오지방</button>
            <button class="filter_chip" data-region="unova">하나지방</button>
            <button class="filter_chip" data-region="kalos">칼로스지방</button>
            <button class="filter_chip" data-region="alola">알로라지방</button>
            <button class="filter_chip" data-region="galar">가라르지방</button>
            <button class="filter_chip" data-region="hisui">히스이지방</button>
            <button class="filter_chip" data-region="paldea">팔데아지방</button>
            <button class="filter_chip" data-region="unknown">미확인</button>
        </div>
    </div>

    <!-- 타입 -->
    <div class="filter_group filter_type">
        <span class="filter_title">타입</span>

        <div class="filter_options">
            <button class="filter_chip" data-type="normal">노말</button>
            <button class="filter_chip" data-type="fire">불꽃</button>
            <button class="filter_chip" data-type="water">물</button>
            <button class="filter_chip" data-type="grass">풀</button>
            <button class="filter_chip" data-type="electric">전기</button>
            <button class="filter_chip" data-type="ice">얼음</button>
            <button class="filter_chip" data-type="fighting">격투</button>
            <button class="filter_chip" data-type="poison">독</button>
            <button class="filter_chip" data-type="ground">땅</button>
            <button class="filter_chip" data-type="flying">비행</button>
            <button class="filter_chip" data-type="psychic">에스퍼</button>
            <button class="filter_chip" data-type="bug">벌레</button>
            <button class="filter_chip" data-type="rock">바위</button>
            <button class="filter_chip" data-type="ghost">고스트</button>
            <button class="filter_chip" data-type="dragon">드래곤</button>
            <button class="filter_chip" data-type="dark">악</button>
            <button class="filter_chip" data-type="steel">강철</button>
            <button class="filter_chip" data-type="fairy">페어리</button>
        </div>
    </div>
</section>