.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
}
