.type_chip {
    background: var(--type-color);
}

/* 타입색 */
.type_chip.normal {
    --type-color: #bbb;
}

.type_chip.fire {
    --type-color: #ff612c;
}

.type_chip.water {
    --type-color: #2992ff;
}

.type_chip.grass {
    --type-color: #42bf24;
}

.type_chip.electric {
    --type-color: #ffdb00;
}

.type_chip.ice {
    --type-color: #42d8ff;
}

.type_chip.fighting {
    --type-color: #ffa202;
}

.type_chip.poison {
    --type-color: #994dcf;
}

.type_chip.ground {
    --type-color: #ab7939;
}

.type_chip.flying {
    --type-color: #95c9ff;
}

.type_chip.psychic {
    --type-color: #ff637f;
}

.type_chip.bug {
    --type-color: #9fa424;
}

.type_chip.rock {
    --type-color: #bcb889;
}

.type_chip.ghost {
    --type-color: #6e4570;
}

.type_chip.dragon {
    --type-color: #5462d6;
}

.type_chip.dark {
    --type-color: #4f4747;
}

.type_chip.steel {
    --type-color: #6aaed3;
}

.type_chip.fairy {
    --type-color: #ffb1ff;
}

:root {
    --type-color: #ddd;
}
